@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', 'sans-serif';
}

html {
    font-size: 100%;
}

body {
    background-color: white;
}

/* navbar */

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 8%;
background-color: #132043;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

#menu-icon {
    font-size: 3.6rem;
    color: black;
    display: none;
}

.logo {
    width: 9rem;
    height: 5rem;
}

.navbar a {
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    margin-right: 2rem;
}

.button {
    display: inline-block;
    padding: 1rem 2.8rem;
    border-radius: 1rem;
    margin-bottom: 10px;
    background: whitesmoke;
    box-shadow: 2.4px 2.4px 12px 0px rgb(46, 46, 46, 0.965);
    color: rgb(44, 41, 41);
    font-size: 1rem;
    font-weight: 500;
}

main {
    padding: 20px;
}

.article {
    padding: 10px;
    margin: 10px 0;
}

footer {
    background-color: #132043;
    color: white;
    text-align: center;
    padding: 10px;
}